<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- user -->
		<typeAlias type="com.dandi.ddmarket.user.model.UserVO" alias="UserVO" />		
		<typeAlias type="com.dandi.ddmarket.user.model.UserPARAM" alias="UserPARAM" />
		<typeAlias type="com.dandi.ddmarket.user.model.UserDMI" alias="UserDMI" />
		
		<!-- board -->
		<typeAlias type="com.dandi.ddmarket.board.model.BoardVO" alias="BoardVO" />
		<typeAlias type="com.dandi.ddmarket.board.model.BoardPARAM" alias="BoardPARAM" />
		<typeAlias type="com.dandi.ddmarket.board.model.BoardDMI" alias="BoardDMI" />
		
		<!-- category -->
		<typeAlias type="com.dandi.ddmarket.category.model.CategoryVO" alias="CategoryVO" />

		
		<!-- cmt -->
		<typeAlias type="com.dandi.ddmarket.cmt.model.CmtVO" alias="CmtVO" />
		<typeAlias type="com.dandi.ddmarket.cmt.model.CmtPARAM" alias="CmtPARAM" />
		<typeAlias type="com.dandi.ddmarket.cmt.model.CmtDMI" alias="CmtDMI" />
		
		<!-- review -->
		<typeAlias type="com.dandi.ddmarket.review.model.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.dandi.ddmarket.review.model.ReviewPARAM" alias="ReviewPARAM"/>
		

		<!-- tap -->
		<typeAlias type="com.dandi.ddmarket.tap.TapVO" alias="TapVO" />

		<!-- trans -->
		<typeAlias type="com.dandi.ddmarket.trans.model.TransVO" alias="TransVO"/>		
<!--    <typeAlias type="com.dandi.ddmarket.trans.model.TransPARAM" alias="TransPARAM"/> -->
		<typeAlias type="com.dandi.ddmarket.trans.model.TransDMI" alias="TransDMI"/>

		
	</typeAliases>	
</configuration>