<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- user -->
		<typeAlias type="com.dandi.ddmarket.user.model.UserVO" alias="UserVO" />		
		<typeAlias type="com.dandi.ddmarket.user.model.UserPARAM" alias="UserPARAM" />
		<typeAlias type="com.dandi.ddmarket.user.model.UserDMI" alias="UserDMI" />
		
		<typeAlias type="com.dandi.ddmarket.board.model.BoardVO" alias="BoardVO" />
		
	</typeAliases>	
</configuration>