<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandi.ddmarket.review.ReviewMapper">
	<select id="selReview" parameterType="ReviewPARAM" resultType="ReviewPARAM">
		SELECT A.i_review, A.i_board, A.i_user, A.ctnt, A.rating,
			   B.nick
		FROM t_review A
		LEFT JOIN t_user B
			ON A.i_user = B.i_user
			WHERE A.i_board = #{i_board}
			ORDER BY A.r_dt DESC
		LIMIT 5
	</select>
	
	<insert id="insReview" parameterType="ReviewVO">
		INSERT INTO t_review
		(i_board, i_user, ctnt, rating)
		VALUES
		(#{i_board}, #{i_user}, #{ctnt}, #{rating})
	</insert>
	
	<update id="updGrade" parameterType="ReviewVO">
		UPDATE t_user A
		LEFT JOIN t_board B
		ON A.i_user = B.i_user
		LEFT JOIN t_review C
		ON A.i_user = C.i_user
		SET grade =
		(SELECT sum(rating) FROM t_review A
		LEFT JOIN t_board B
		ON A.i_board = B.i_board
		LEFT JOIN t_user C
		ON A.i_user = C.i_user
		WHERE B.i_user = 3)
		 / 
		(SELECT COUNT(*) FROM t_review A
		LEFT JOIN t_board B
		ON A.i_board = B.i_board
		LEFT JOIN t_user C
		ON A.i_user = C.i_user
		WHERE B.i_user = 3)
		
		WHERE A.i_user = (SELECT i_user FROM t_board WHERE i_board = #{i_board})
	</update>

	
</mapper>