@charset "UTF-8";

/* container, main 크기설정 */ 
#container {width: 100%; margin: 0 auto;}
main {width: 1040px; margin: 250px auto;}


/* main */

/* 밑에는 기존 detail css */



/* 작은별점 */
@import "lesshat";
.star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 15px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        }
  .star-ratings-css-top {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
   .star-ratings-top_1 {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

/* 큰별점 */
#div-review-left .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        margin-right: 30px;
        }


/* 제목 */
.h2-section-title {
    font-size: 20px;
    border-bottom: 2px solid #C4C4C4;
    padding: 10px;
    margin-bottom: 30px;
}


/* 페이징 */
.pageWrap {
   display: flex; 
   justify-content: center;
   margin-bottom: 100px;
   }
.pageWrap a {
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    border: 1px solid #AEAEAE;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: #3B73C8;
    border-radius: 3px;
}


/* 추가한 css*/
.unheart { color: #fff; }
.heart { color: #f00;}
/* #section-info */
section {margin-bottom:100px;}
section:nth-last-child(2) {margin-bottom:0px;}

#section-info {
    margin-bottom: 100px;
    height: 400px;
}
#section-info .swiper-container {
    width: 431px;
    height: 431px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    float: left;
}
#section-info .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}
#section-info #div-info-right {
    float: left;
    display: flex;
    flex-flow: column wrap;
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
}
#section-info #div-info-right .user-info {
    /* width: 0px; */
}
#section-info #div-info-right .user-info .profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-info #div-info-right .user-info .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-info #div-info-right .user-info .profile-desc {
    float: left;
}
#section-info #div-info-right .user-info .profile-desc .nick {
    font-size: 13px;
    color: #6F6A6A;
}
#section-info #div-info-right #product-title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
}
#section-info #div-info-right #product-price {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 23px;
    border-bottom: 1px solid #C4C4C4;
    width: 550px;
}
#section-info #div-info-right #like {
    margin-top: 20px;
    font-size: 13px;
    color:#AEAEAE;
}
#section-info #div-info-right #cd {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #cd #r_dt {
    font-size: 13px;
    color: #AEAEAE;
    margin-left: 20px;
}
#section-info #div-info-right #addr {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #buttonWrap {
    margin-top: 85px;
    text-align: end;
}
#section-info #div-info-right #buttonWrap button{
    width: 100px;
    height: 40px;
    background: #3B73C8;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
    text-align: center;
}

#heart{
    position: absolute;   
    margin-top: 2px;
}
#zzim{
   margin-left: 25px;
   position: relative;
}

#card-soldOut {
    width: 429px;
    height: 429px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 601px;
    top: -29.5px;
}

#section-info #div-info-right #buttonWrap button:nth-child(1) {
    margin-right: 10px;
    float: right;
}

#section-info #div-info-right #buttonWrap button:nth-child(2) {
    margin-right: 15px;
    float: right;
   
}

#section-info #div-info-right #buttonWrap {
   margin-top: 70px;
}




/* section-desc */
#section-desc {
    padding: 0 30px;
    font-size: 16px;
}

/* section-comment */
#section-comment {
    padding: 0 30px;
}
#section-comment form {
    margin-bottom: 50px;
}
#section-comment form #inputWrap {
    width: 990px;
    height: 77px;
    border: 1px solid #C4C4C4;
    text-align: center;
} 
#section-comment form #inputWrap textarea {
    width: 95%;
    height: 47%;
    padding: 20px;
    border: none;
    outline-style: none;
    resize: none;
} 
#section-comment form #inputWrap textarea::placeholder {
    color: #A5A2A2;
    font-size: 13px;
}
#section-comment form button {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    float: right;
    margin-top: -29px;
    margin-right: 50px;
}

#section-comment form #cmtSubmit {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}


#section-comment #commentWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
    word-break: keep-all;
    word-wrap: break-word;
}
#section-comment #commentWrap:nth-last-child(1) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-comment #commentWrap .comment-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-comment #commentWrap .comment-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-comment #commentWrap .comment-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .nick .date {
    margin-left: 700px;
    font-size: 12px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .comment {
    font-size: 16px;
    width: 900px;
    margin: 10px 0px 15px 0px;
}
#section-comment #commentWrap .comment-profile-desc .etc {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a {
    font-size: 13px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .etc a:nth-child(1) {
    margin-right : 8px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .iconify {
    margin-right: 5px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-del {
    margin-right: 2px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-mod {
    margin-right: 2px;
}


/* section-review */
#section-review {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}


/* div-review-left */
#section-review #div-review-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
}
#section-review #div-review-left .review-profile-img {
    width: 130px;
    height: 130px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
}
#section-review #div-review-left .review-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-left .review-profile-nick {
    font-weight: bold;
    font-size: 20px;
}
#section-review #div-review-left .review-profile-reviewNum {
    font-size: 15px;
    color: #A5A2A2;
    margin-top: 20px;
}

/* div-review-right */
#section-review #div-review-right {
    width: 700px;
}

#section-review #div-review-right #reviewWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#section-review #div-review-right #reviewWrap:nth-last-child(1) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
    display: flex;
    align-items: center;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick .star-ratings-css {
    margin-top: 6px;
    margin-left: 8px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .comment {
    font-size: 16px;
    width: 600px;
    margin: 10px 0;
}


    #ChatBox {
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: hidden;
    }
    #SaleList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 360px;
        background:#fff;
        height: 580px;
        border-radius: 3px;
        border: 1px solid #ddd; 
        animation-name: animatetop;
        animation-duration: 0.4s; 
     }
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1} }
	#Buyers {
		width: 360px;
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #e7ebee;
       	border-bottom: 1px solid #e7ebee;
	}
	
    .buyer {
        width: 210px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: left;

    }
    .buyer:hover {
       cursor:pointer;
    }
    .buyer img{
        width: 50px;
        height: 50px;
        margin: 10px 15px;
       border-radius: 50%;
        border:3px solid #fff;
    }
    .buyer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
       width: 40%;
    }
    .buyer p strong {
        font-weight:600;
        font-size:15px;
        color:#597a96;  
    }
    
    .Salebtn {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	width: 140px;
    	height: 50px;
    	border-left: 1px solid #e7ebee;
    }
    .Salebtn > button {
    	cursor: pointer;
    	width: 100px;   	
    	border: none;
    	border-radius: 3px;
    	font-size: 20px;
    	font-weight: bold;
    	height: 45px;
    	background: #3B73C8;
    	color: snow
   	   }
    #chatting{
        border: none;
        border-radius: 3px;
        font-size: 20px;
        font-weight: bold;
        height: 45px; width: 200px;
        background: #3B73C8; color: snow;
    }
    #chatView{
        margin-left: 20px;
        width: 360px;
        height: 580px;
        z-index: 10;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display:none;
        border: 1px solid #ddd;
        background:#fff;
        overflow:hidden; 
    }


  #chat-Msg {
    width: 350px;
    height: 500px;
   	overflow-y: auto;
	overflow-x: hidden;
  }
 #chat-Msg div.message{
 	margin-left: 20px; 
    
  }
  #chat-Msg div.message.Mychat{
      padding: 0 20px 30px 0;
  }
  #chat-Msg .message img{
      float: left;
      margin-left: -10px;
      margin-right: 10px;
      border-radius: 50%;
      width: 50px;
      margin-top: 8px;

  }
  .message .nick{
      margin-left: -10px;
      border-radius: 50%;
      width: 60px;
      font-size:13px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#aab8c2;
  }
  #chat-Msg div.message.Mychat img{
      float: right;   
      margin-left: 0;
      margin-right: -38px;   
  }
  .message .bubble{   
      background:#f0f4f7;
      font-size:13px;
      font-weight:600;
      padding:12px 13px;
      border-radius:5px;
      color:#8495a3;
      position:relative;
      float:left;
  }
 /* #chat-Msg div.message.Mychat .bubble{
      float:right;
      border-radius:5px 5px 0px 5px ;
  }
*/
  .bubble span{
      color: #aab8c2;
      font-size: 11px;
      position: absolute;
      right: 0;
      bottom: -22px;
  }
  #sendMessage{
  	overflow:hidden; 
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height:70px;
      border-top: 1px solid #e7ebee;   
      width:360px;
      background:#fff;
  }
 
  #sendMessage input{
      background:#fff;
      border: none;
      width: 310px;
      height: 70px;
      overflow: auto;
      font-size:14px;
      font-family:"Open Sans", sans-serif; 
      font-weight:400px;
      color:#aab8c2;
  }
  #sendMessage input:focus{
      outline: 0;
  }
  #sendMessage button{
      background: #fff;
      border-left: 1px solid #e7ebee;
      width:50px;
      height:70px;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  #sendMessage > button > img{
      width:40px;
  }
  #sendMessage button:hover{
      cursor:pointer;
  }
  #sendMessage button:focus{
      outline: 0;    
  }
  #close {
      width: 360px;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
  }
    #close > img {
      cursor: pointer;
      width: 20px;
      margin-right: 8px;
  }
  
  #chatClose {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 360px;
      height: 30px;
  }
  
  #chatClose > img {
      cursor: pointer;
      width: 20px;
      margin-right: 8px;
  }        