@charset "UTF-8";

/* container, main 크기설정 */ 
#container {width: 100%; margin: 0 auto;}
main {width: 1040px; margin: 250px auto;}


/* main */
#view-code{
  color:#89a2b5;    
  opacity:0.7;
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:660px;
  left:50%;margin-left:-50px;
  z-index:200;
}
#view-code:hover{opacity:1;}
#chatbox{
	width:290px;
	background:#fff;
	border-radius:6px;
	overflow:hidden;
	height:484px;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-155px;
}

#friendslist{
	position:absolute;
	top:0;
	left:0;
	width:290px;
	height:484px;
}
#topmenu{
	height:69px;
	width:290px;
	border-bottom:1px solid #d8dfe3;	
}
#topmenu span{
	float:left;	
	width: 96px;
    height: 70px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
}
#topmenu span.friends{margin-bottom:-1px;}
#topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
#topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
#topmenu span.history{background-position:-190px 24px; cursor:pointer;}
#topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}
.friend{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}
.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.friend img{
	width:40px;
	border-radius:50%;
	margin:15px;
	float:left;
}
.floatingImg{
	width:40px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:12px;
	border:3px solid #fff;
}
.friend p{
	padding:15px 0 0 0;			
	float:left;
	width:220px;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
	color:#597a96;  

}
.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}
.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}
#search{
	background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
	height:60px;
	width:290px;
	position:absolute;
	bottom:0;
	left:0;
}
#searchfield{
	background:#e3e9ed;
	margin:21px 0 0 55px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#8198ac;
}
#searchfield:focus{
	 outline: 0;
}
#chatview{
	width:290px;
	height:484px;
	position:absolute;
	top:0;
	left:0;	
	display:none;
	background:#fff;
}
#profile{
	height:153px;
	overflow:hidden;
	text-align:center;
	color:#fff;
}
.p1 #profile{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
}
#profile .avatar{
	width:68px;
	border:3px solid #fff;
	margin:23px 0 0;
	border-radius:50%;
}
#profile  p{
	font-weight:600;
	font-size:15px;
	margin:118px 0 -1px;
	opacity:0;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  p.animate{
	margin-top:97px;
	opacity:1;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);	
}
#profile  span{
	font-weight:400;
	font-size:11px;
}
#chat-messages{
	opacity:0;
	margin-top:30px;
	width:290px;
	height:270px;
	overflow-y:scroll;	
	overflow-x:hidden;
	padding-right: 20px;
	-webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	   -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	    -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	     -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
	        transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
	opacity:1;
	margin-top:0;
}
#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	width:290px;
	display:block;	
}
#chat-messages div.message{
	padding:0 0 30px 58px;
	clear:both;
	margin-bottom:45px;
}
#chat-messages div.message.right{
	  padding: 0 58px 30px 0;
	  margin-right: -19px;
	  margin-left: 19px;
}
#chat-messages .message img{
	  float: left;
	  margin-left: -38px;
	  border-radius: 50%;
	  width: 30px;
	  margin-top: 12px;
}
#chat-messages div.message.right img{
	float: right;	
    margin-left: 0;
	margin-right: -38px;	
}
.message .bubble{	
	background:#f0f4f7;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}
#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}
div.message.right .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
	left:auto;
	right:-5px;
}
.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}
#sendmessage{
	height:60px;
	border-top:1px solid #e7ebee;	
	position:absolute;
	bottom:0;
	right:0px;
	width:290px;
	background:#fff;
	padding-bottm:50px;
}
#sendmessage input{
	border
}
#sendmessage input{
	background:#fff;
	margin:21px 0 0 21px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#aab8c2;
}
#sendmessage input:focus{
	 outline: 0;
}
#sendmessage button{
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	right: 15px;
	top: 23px;
	border:none;
}
#sendmessage button:hover{
	cursor:pointer;
	background-position: 0 0 ;
}
#sendmessage button:focus{
	 outline: 0;	 
}

#close{
	position:absolute;
	top: 8px;	
	opacity:0.8;
 	right: 10px;
	width:20px;
	height:20px;
	cursor:pointer;
}
#close:hover{
	opacity:1;
}
.cx, .cy{
	background:#fff;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#chatview, #sendmessage { 
overflow:hidden; 
border-radius:6px; 
}







/* 밑에는 기존 detail css */









/* 작은별점 */
@import "lesshat";
.star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 15px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        }
  .star-ratings-css-top {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
   .star-ratings-top_0 {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

/* 큰별점 */
#div-review-left .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        margin-right: 30px;
        }


/* 제목 */
.h2-section-title {
    font-size: 20px;
    border-bottom: 2px solid #C4C4C4;
    padding: 10px;
    margin-bottom: 30px;
}


/* 페이징 */
.pageWrap {display: flex; justify-content: center;}
.pageWrap a {
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    border: 1px solid #AEAEAE;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: #3B73C8;
    border-radius: 3px;
}

/* 추가한 css*/
.unheart { color: #fff; }
.heart { color: #f00;}
/* #section-info */
section {margin-bottom:100px;}
section:nth-last-child(2) {margin-bottom:0px;}

#section-info {
    margin-bottom: 100px;
    height: 400px;
}
#section-info .swiper-container {
    width: 431px;
    height: 431px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    float: left;
}
#section-info .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}
#section-info #div-info-right {
    float: left;
    display: flex;
    flex-flow: column wrap;
    margin-left: 50px;
    margin-top: 30px;
}
#section-info #div-info-right .user-info {
    /* width: 0px; */
}
#section-info #div-info-right .user-info .profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-info #div-info-right .user-info .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-info #div-info-right .user-info .profile-desc {
    float: left;
}
#section-info #div-info-right .user-info .profile-desc .nick {
    font-size: 13px;
    color: #6F6A6A;
}
#section-info #div-info-right #product-title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
}
#section-info #div-info-right #product-price {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 23px;
    border-bottom: 1px solid #C4C4C4;
    width: 550px;
}
#section-info #div-info-right #like {
    margin-top: 20px;
    font-size: 13px;
    color:#AEAEAE;
}
#section-info #div-info-right #cd {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #cd #r_dt {
    font-size: 13px;
    color: #AEAEAE;
    margin-left: 20px;
}
#section-info #div-info-right #addr {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #buttonWrap {
    margin-top: 85px;
    text-align: end;
}
#section-info #div-info-right #buttonWrap button {
    width: 100px;
    height: 40px;
    background: #3B73C8;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
}
#section-info #div-info-right #buttonWrap button:nth-child(1) {
    margin-left: 0px;
    position: relative;
}
#section-info #div-info-right #buttonWrap .icon-btn-heart {
    position: absolute;
    top: 10px;
    right: 50px;
}

/* section-desc */
#section-desc {
    padding: 0 30px;
    font-size: 16px;
}

/* section-comment */
#section-comment {
    padding: 0 30px;
}
#section-comment form {
    margin-bottom: 50px;
}
#section-comment form #inputWrap {
    width: 990px;
    height: 77px;
    border: 1px solid #C4C4C4;
    text-align: center;
} 
#section-comment form #inputWrap textarea {
    width: 95%;
    height: 47%;
    padding: 20px;
    border: none;
    outline-style: none;
    resize: none;
} 
#section-comment form #inputWrap textarea::placeholder {
    color: #A5A2A2;
    font-size: 13px;
}
#section-comment form button {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    float: right;
    margin-top: -29px;
    margin-right: 50px;
}

#section-comment form #cmtSubmit {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}


#section-comment #commentWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#section-comment #commentWrap:nth-last-child(2) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-comment #commentWrap .comment-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-comment #commentWrap .comment-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-comment #commentWrap .comment-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .nick .date {
    margin-left: 700px;
    font-size: 12px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .comment {
    font-size: 16px;
    width: 900px;
    margin: 10px 0;
}
#section-comment #commentWrap .comment-profile-desc .etc {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a {
    font-size: 13px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .etc a div {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .iconify {
    margin-right: 5px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-del {
    margin-right: 2px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-mod {
    margin-right: 2px;
}


/* section-review */
#section-review {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}


/* div-review-left */
#section-review #div-review-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
}
#section-review #div-review-left .review-profile-img {
    width: 130px;
    height: 130px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
}
#section-review #div-review-left .review-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-left .review-profile-nick {
    font-weight: bold;
    font-size: 20px;
}
#section-review #div-review-left .review-profile-reviewNum {
    font-size: 15px;
    color: #A5A2A2;
    margin-top: 20px;
}

/* div-review-right */
#section-review #div-review-right {
    width: 700px;
}

#section-review #div-review-right #reviewWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#section-review #div-review-right #reviewWrap:nth-last-child(1) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
    display: flex;
    align-items: center;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick .star-ratings-css {
    margin-top: 6px;
    margin-left: 8px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .comment {
    font-size: 16px;
    width: 600px;
    margin: 10px 0;
}









*{ margin: 0; padding: 0; }
    #ChatBox {
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 10;
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
    }
    #SaleList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 360px;
        background:#fff;
        height: 580px;
        border-radius: 3px;
        border: 1px solid #ddd; 
        animation-name: animatetop;
        animation-duration: 0.4s; }
    
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1} }

    .buyer {
        width: 360px;
        z-index: 4;
        display: flex;
        flex-wrap: wrap;
	    border-bottom:1px solid #e7ebee;
    }
    .buyer:hover {
        background:#f1f4f6;
	    cursor:pointer;
    }
    .buyer img{
        width: 50px;
        height: 50px;
        margin: 10px 15px;
	    border-radius: 50%;
        border:3px solid #fff;
    }
    .buyer p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
	    width: 40%;
    }
    .buyer p strong {
        font-weight:600;
        font-size:15px;
	    color:#597a96;  
    }
    #chatting{
        border: none;
        border-radius: 3px;
        font-size: 20px;
        font-weight: bold;
        height: 45px; width: 200px;
        background: #3B73C8; color: snow;
    }
    #chatView{
        margin-left: 20px;
        width: 360px;
        height: 580px;
        z-index: 10;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display:none;
        border: 1px solid #ddd;
        background:#fff;
    }

   
    #chatview, #sendMessage { 
        overflow:hidden; 
        border-radius:6px; 
    }
    #chat-Msg {
        width: 350px;
        height: 500px;
    }
    #chat-Msg div.message{
            padding:0 0 30px 58px;
            clear:both;
            margin-bottom:45px;
        }
        #chat-Msg div.message.Mychat{
            padding: 0 58px 30px 0;
        }
        #chat-Msg .message img{
            float: left;
            margin-left: -38px;
            border-radius: 50%;
            width: 30px;
            margin-top: 12px;
        }
        #chat-Msg div.message.Mychat img{
            float: right;	
            margin-left: 0;
            margin-right: -38px;	
        }
        .message .bubble{	
            background:#f0f4f7;
            font-size:13px;
            font-weight:600;
            padding:12px 13px;
            border-radius:5px 5px 5px 0px;
            color:#8495a3;
            position:relative;
            float:left;
        }
        #chat-Msg div.message.Mychat .bubble{
            float:right;
            border-radius:5px 5px 0px 5px ;
        }
        .bubble .corner{
            background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
            position:absolute;
            width:7px;
            height:7px;
            left:-5px;
            bottom:0;
        }
        div.message.Mychat .corner{
            background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
            left:auto;
            right:-5px;
        }
        .bubble span{
            color: #aab8c2;
            font-size: 11px;
            position: absolute;
            right: 0;
            bottom: -22px;
        }
        #sendMessage{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
            height:70px;
            border-top:1px solid #e7ebee;	
            
            width:360px;
            background:#fff;
        }
       
        #sendMessage input{
            background:#fff;
            margin:21px 0 0 21px;
            border:none;
            font-size:14px;
            font-family:"Open Sans", sans-serif; 
            font-weight:400px;
            color:#aab8c2;
        }
        #sendMessage input:focus{
            outline: 0;
        }
        #sendMessage button{
            background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
            width:30px;
            height:60px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            border:none;
        }
        #sendMessage button:hover{
            cursor:pointer;
            background-position: 0 0 ;
        }
        #sendMessage button:focus{
            outline: 0;	 
        }
        #close {
            cursor: pointer;
            width: 360px;
            height: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        #chatClose {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            width: 360px;
            height: 30px;
        }

