@charset "UTF-8";

/* container, main 크기설정 */ 
#container {width: 100%; margin: 0 auto;}
main {width: 1040px; margin: 250px auto;}


/* main */

/* 작은별점 */
@import "lesshat";
.star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 15px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        }
  .star-ratings-css-top {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
   .star-ratings-top_0 {
    color: #F1D05F;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

/* 큰별점 */
#div-review-left .star-ratings-css {
        unicode-bidi: bidi-override;
        color: #c5c5c5;
        font-size: 25px;
        height: 25px;
        width: 100px;
        position: relative;
        padding: 0;
        margin-right: 30px;
        }


/* 제목 */
.h2-section-title {
    font-size: 20px;
    border-bottom: 2px solid #C4C4C4;
    padding: 10px;
    margin-bottom: 30px;
}


/* 페이징 */
.pageWrap {display: flex; justify-content: center;}
.pageWrap a {
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    border: 1px solid #AEAEAE;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: #3B73C8;
    border-radius: 3px;
}

/* 추가한 css*/
.unheart { color: #fff; }
.heart { color: #f00;}
/* #section-info */
section {margin-bottom:100px;}
section:nth-last-child(2) {margin-bottom:0px;}

#section-info {
    margin-bottom: 100px;
    height: 400px;
}
#section-info .swiper-container {
    width: 431px;
    height: 431px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    float: left;
}
#section-info .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}
#section-info #div-info-right {
    float: left;
    display: flex;
    flex-flow: column wrap;
    margin-left: 50px;
    margin-top: 30px;
}
#section-info #div-info-right .user-info {
    /* width: 0px; */
}
#section-info #div-info-right .user-info .profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-info #div-info-right .user-info .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-info #div-info-right .user-info .profile-desc {
    float: left;
}
#section-info #div-info-right .user-info .profile-desc .nick {
    font-size: 13px;
    color: #6F6A6A;
}
#section-info #div-info-right #product-title {
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0;
}
#section-info #div-info-right #product-price {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 23px;
    border-bottom: 1px solid #C4C4C4;
    width: 550px;
}
#section-info #div-info-right #like {
    margin-top: 20px;
    font-size: 13px;
    color:#AEAEAE;
}
#section-info #div-info-right #cd {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #cd #r_dt {
    font-size: 13px;
    color: #AEAEAE;
    margin-left: 20px;
}
#section-info #div-info-right #addr {
    font-size: 13px;
    color: #6F6A6A;
    margin-top: 10px;
}
#section-info #div-info-right #buttonWrap {
    margin-top: 85px;
    text-align: end;
}
#section-info #div-info-right #buttonWrap button {
    width: 100px;
    height: 40px;
    background: #3B73C8;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
}
#section-info #div-info-right #buttonWrap button:nth-child(1) {
    margin-left: 0px;
    position: relative;
}
#section-info #div-info-right #buttonWrap .icon-btn-heart {
    position: absolute;
    top: 10px;
    right: 50px;
}

/* section-desc */
#section-desc {
    padding: 0 30px;
    font-size: 16px;
}

/* section-comment */
#section-comment {
    padding: 0 30px;
}
#section-comment form {
    margin-bottom: 50px;
}
#section-comment form #inputWrap {
    width: 990px;
    height: 77px;
    border: 1px solid #C4C4C4;
    text-align: center;
} 
#section-comment form #inputWrap textarea {
    width: 95%;
    height: 47%;
    padding: 20px;
    border: none;
    outline-style: none;
    resize: none;
} 
#section-comment form #inputWrap textarea::placeholder {
    color: #A5A2A2;
    font-size: 13px;
}
#section-comment form button {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    float: right;
    margin-top: -29px;
    margin-right: 50px;
}

#section-comment form #cmtSubmit {
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-size: 13px;
    color: #A5A2A2;
    margin-left: 943px;
    margin-top: 25px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}


#section-comment #commentWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#section-comment #commentWrap:nth-last-child(2) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-comment #commentWrap .comment-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-comment #commentWrap .comment-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-comment #commentWrap .comment-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .nick .date {
    margin-left: 700px;
    font-size: 12px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .comment {
    font-size: 16px;
    width: 900px;
    margin: 10px 0;
}
#section-comment #commentWrap .comment-profile-desc .etc {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a {
    font-size: 13px;
    color: #A5A2A2;
}
#section-comment #commentWrap .comment-profile-desc .etc a div {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .iconify {
    margin-right: 5px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-del {
    margin-right: 2px;
}
#section-comment #commentWrap .comment-profile-desc .etc a div .icon-mod {
    margin-right: 2px;
}


/* section-review */
#section-review {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}


/* div-review-left */
#section-review #div-review-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 350px;
}
#section-review #div-review-left .review-profile-img {
    width: 130px;
    height: 130px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
}
#section-review #div-review-left .review-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-left .review-profile-nick {
    font-weight: bold;
    font-size: 20px;
}
#section-review #div-review-left .review-profile-reviewNum {
    font-size: 15px;
    color: #A5A2A2;
    margin-top: 20px;
}

/* div-review-right */
#section-review #div-review-right {
    width: 700px;
}

#section-review #div-review-right #reviewWrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#section-review #div-review-right #reviewWrap:nth-last-child(1) {
    display: flex;
    align-items: center;
    border-bottom: none;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img {
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick {
    font-size: 18px;
    color: #A5A2A2;
    display: flex;
    align-items: center;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .nick .star-ratings-css {
    margin-top: 6px;
    margin-left: 8px;
}
#section-review #div-review-right #reviewWrap .review-right-profile-desc .comment {
    font-size: 16px;
    width: 600px;
    margin: 10px 0;
}
