@charset "UTF-8";

#container {
    width: 100%; margin: 300px auto 0 auto;
    margin-bottom: 0; }
main {
    width: 1190px; margin: 0 auto;
    margin-bottom: 300px; display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }

#content { 
    margin-top: 240px; 
    margin-bottom: 560px; }

.div-logo { 
    margin-bottom: 25px; 
    justify-content: center;
    align-items: center; }

.div-idFind {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
}
.div-idFind input { padding: 0 30px 0 30px;}

.div-idFind > .email-txt {
    width: 288px; height: 40px; 
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    margin: 10px 0 15px 10px; }

.div-idFind > input::placeholder {
    font-style: normal;
    font-size: 13px;
    padding-left: 14px;
    color: #AEAEAE; }

.idBtn {
    margin: 10px 0;
    border-radius: 3px;
    font-size: 14px;
    height: 40px; width: 350px;
    justify-content: flex-end;
    line-height: 1; font-weight: bold;
    background: #3B73C8; color: snow; }