@charset "UTF-8";

/* container, main 설정 */ 
#container {width: 100%; margin: 30px auto; margin-bottom: 0;}
main {width: 1190px; margin: 0 auto; margin-bottom: 200px; margin-top: 215px;}


/* 섹션 */
/* 섹션 - sub-title */
.sub-title {font-size: 30px; margin-bottom: 30px; padding-left: 120px;}
#sub-title-new {display: flex; align-items: center;}

section {overflow: hidden; margin:40px auto; background-color: white;}
.section-cardList {display: flex; justify-content: space-around; padding: 0 100px;}

.main-section-banner {text-align: center;}
.main-section-banner img {width: 1040px;}
.banner-div_mainImage img {width: 1040px; height:297.7px;}

/* swiper */
.main-section-banner .swiper-container {width: 1190px; position: relative;}
.main-section-banner .swiper-container .swiper-button-prev:after {position: absolute; left: 88px;}
.main-section-banner .swiper-container .swiper-button-next:after {position: absolute; right: 92px;}

.section-cardList .swiper-container { width: 1300px; position: relative; height: 350px; margin: 0 auto;}
.section-cardList .swiper-container .swiper-scrollbar {background: none;}
.section-cardList .swiper-container .swiper-pagination {position: absolute; top:300px;}
.section-cardList .swiper-container .swiper-button-prev:after {position: absolute; bottom: 40px; right: 13px;}
.section-cardList .swiper-container .swiper-button-next:after {position: absolute; bottom: 40px; left: 13px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide { display: flex;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap {width: 20%; height: 300px; background: #EEEEEE; text-align: center; margin-right:10px; margin-left:33px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap:nth-last-child(1) {margin-right:0px}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-pic {width: 100%; height: 170.44px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-pic img {width: 100%; height: 100%;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc {margin-top: 10px; display:flex; flex-flow:column wrap; justify-content: center; align-items: center; }
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc .card-title {font-style: normal; font-weight: normal; font-size: 16px; color: #3B3B3D; display: inline-block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc .card-border {border-bottom: 1px dashed #A5A2A2; width: 67%; display: block; margin: 5px auto;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc div {width:150px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc div .card-price { font-size: 16px; color: #3B3B3D; margin-right:4px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-desc div .card-r_dt { font-size: 10px; color: #BAB6B6; margin-left:4px;}
.section-cardList .swiper-container .swiper-wrapper .swiper-slide .card-wrap a .card-addr {width: 50%; margin: 5px 5px 5px 0px; display:flex; color: #3B3B3D; justify-content: center; align-items: center;}
.addr_text {font-size: 13px;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    margin-top: 15px;
}

/* 인기 카테고리 - 텝매뉴 */
.tab_basic { width: 1230px; margin: 0 auto;}
.tab_list_wrap { width: 80%; font-size: 0; height: 35px; display: flex; flex-flow: row nowrap; margin: 0 auto;}
.tab_list { display: inline-block; width: 10%; height: 100%; font-size: 15px; line-height: 30px; text-align: center; box-sizing: border-box; }
.tab_list.tab_active { border-bottom: 3px solid #6F6A6A; width: 8%;}
.tab_list a { display: block; width: 100%; height: 100%; text-decoration: none; color: #222; }

/* 탭 글리스트 */
.tab_container .tab_content { display: none; width: 84%; min-height: 100px; margin-left: 85px; padding: 20px; background: white; box-sizing: border-box; }
.tab_container .tab_content:first-child { display: flex; flex-flow: row wrap;}
.tab_container .tab_content .card-wrap {width: 20%; height: 300px; background: #EEEEEE; text-align: center; margin:35px 35px 0px 10px}
.tab_container .tab_content .card-wrap:nth-child(4n) {margin-right:0px}
.tab_container .tab_content .card-wrap:nth-child(4n-3) {margin-left:30px}
.tab_container .tab_content .card-wrap:nth-child(1) {margin-top:10px}
.tab_container .tab_content .card-wrap:nth-child(2) {margin-top:10px}
.tab_container .tab_content .card-wrap:nth-child(3) {margin-top:10px}
.tab_container .tab_content .card-wrap:nth-child(4) {margin-top:10px}
.tab_container .tab_content .card-wrap a .card-pic {width: 100%; height: 170.44px;}
.tab_container .tab_content .card-wrap a .card-pic img {width: 100%; height: 100%;}
.tab_container .tab_content .card-wrap a .card-desc {margin-top: 10px; display:flex; flex-flow:column wrap; justify-content: center; align-items: center; }
.tab_container .tab_content .card-wrap a .card-desc .card-title {font-style: normal; font-weight: normal; font-size: 16px; color: #3B3B3D; display: inline-block; width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.tab_container .tab_content .card-wrap a .card-desc .card-border {border-bottom: 1px dashed #A5A2A2; width: 67%; display: block; margin: 5px auto;}
.tab_container .tab_content .card-wrap a .card-desc div {width:150px;}
.tab_container .tab_content .card-wrap a .card-desc div .card-price { font-size: 16px; color: #3B3B3D; margin-right:4px;}
.tab_container .tab_content .card-wrap a .card-desc div .card-r_dt { font-size: 10px; color: #BAB6B6; margin-left:4px;}
.tab_container .tab_content .card-wrap a .card-addr {margin: 5px 5px 5px 0px; color: #3B3B3D; display:flex; color: #3B3B3D; justify-content: center; align-items: center;}
.addr_text {font-size: 13px;}
