@charset "UTF-8";

/* container, main 크기설정 */ 
#container {width: 100%; margin: 0 auto;}
main {width: 1030px; margin: 250px auto;}


/* div-wrap-top */
#div-wrap-top {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 60px;
}
#div-wrap-top #div-search-result {
    width: 50%;
    font-size: 20px;
    text-align: start;
}
#div-wrap-top #div-search-standard {
    width: 50%;
    font-size: 16px;
    text-align: end;
}
#div-wrap-top #div-search-result #span-search-reuslt-text {
    color: #3B73C8;
}
#div-wrap-top #div-search-result #span-search-reuslt-number {
    color: #AEAEAE;
}

/* div-wrap-article */
#div-wrap-article {display: flex; flex-flow: row wrap; margin-bottom: 30px;}

#div-wrap-article .card-wrap {width: 18%; height: 280px; background: #EEEEEE; text-align: center; margin-bottom: 30px; margin-left: 25px;}
#div-wrap-article .card-wrap:nth-child(5n+1) {margin-left: 0px;}
#div-wrap-article .card-wrap:nth-child(1) {margin-left: 0px;}

#div-wrap-article .card-wrap a .card-pic {width: 100%;}
#div-wrap-article .card-wrap a .card-pic img {width: 100%; height: 100%;}

#div-wrap-article .card-wrap a .card-desc {margin-top: 20px;}
#div-wrap-article .card-wrap a .card-desc .card-title {font-style: normal; font-weight: normal; font-size: 16px; color: #3B3B3D;}
#div-wrap-article .card-wrap a .card-desc .card-border {border-bottom: 1px dashed #A5A2A2; width: 67%; display: block; margin: 5px auto;}
#div-wrap-article .card-wrap a .card-desc .card-price { font-size: 16px; margin-right: 25px; color: #3B3B3D;}
#div-wrap-article .card-wrap a .card-desc .card-r_dt { font-size: 10px; color: #BAB6B6;}

#div-wrap-article .card-wrap a .card-addr {font-size: 13px; margin-top: 15px; margin-left: 10px; position: relative; color: #3B3B3D;}
#div-wrap-article .card-wrap a .card-addr .icon-map {position: absolute; left: 6px; top: -0.5px;}


/* div-wrap-parge */
#div-wrap-page {display: flex; justify-content: center;}
#div-wrap-page a {
    width: 35px;
    height: 35px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    border: 1px solid #AEAEAE;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: #3B73C8;
    border-radius: 3px;
}