@charset "UTF-8";

/* container, main 크기설정 */ 
#container {width: 100%; margin: 0 auto;}
main {width: 1030px; margin: 200px auto;}

.cg-menu-bar-wrap{
	display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 30px 0; 
    padding: 0; 
	
}

.cg-menu-bar-div{
	padding: 18px;
    cursor: pointer; 
}
.cg-menu-bar-div:nth-child(1) {margin-left:28px;}

.cg-menu-bar-a{
	color: #3B73C8;
	border-bottom:3px solid #3B73C8; 
	font-size:16px;
	text-align: center;
}

.cg-menu-bar-b{ color: #A5A2A2;}

.span-search-reuslt-text-cg {color: #3B73C8;}

/* div-wrap-top */
#div-wrap-top {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;
}
#div-wrap-top #div-search-result {
    width: 50%;
    font-size: 20px;
    text-align: start;
}
#div-wrap-top #div-search-standard {
    width: 50%;
    font-size: 16px;
    text-align: end;
    margin-top: 50px;
}

.span-search-reuslt-text { color: #F84C4C;}

.span-search-reuslt-text-cg {color: #3B73C8;}

#div-wrap-top #div-search-result #span-search-reuslt-text-all {
    color: #F84C4C;
}

#div-wrap-top #div-search-result #span-search-reuslt-number {
    color: #AEAEAE;
}



/* div-wrap-article */
#div-wrap-article {display: flex; flex-flow: row wrap; margin-bottom: 150px;}
#div-wrap-article .card-wrap {width: 20%; height: 300px; background: #EEEEEE; text-align: center; margin:35px 35px 0px 10px}
#div-wrap-article .card-wrap a .card-pic {width: 100%; height: 170.44px;}
#div-wrap-article .card-wrap a .card-pic img {width: 100%; height: 100%;}
#div-wrap-article .card-wrap a .card-desc {margin-top: 10px; display:flex; flex-flow:column wrap; justify-content: center; align-items: center; }
#div-wrap-article .card-wrap a .card-desc .card-title {font-style: normal; font-weight: normal; font-size: 16px; color: #3B3B3D;}
#div-wrap-article .card-wrap a .card-desc .card-border {border-bottom: 1px dashed #A5A2A2; width: 67%; display: block; margin: 5px auto;}
#div-wrap-article .card-wrap a .card-desc div {width:150px;}
#div-wrap-article .card-wrap a .card-desc div .card-price { font-size: 16px; color: #3B3B3D; margin-right:4px;}
#div-wrap-article .card-wrap a .card-desc div .card-r_dt { font-size: 10px; color: #BAB6B6; margin-left:4px;}
#div-wrap-article .card-wrap a .card-addr {font-size: 13px; margin: 5px 15px 5px 0px; display:flex; color: #3B3B3D; justify-content: center; align-items: center;}
#div-wrap-article .card-wrap a .card-addr .icon-map {}

/* div-wrap-page */
#div-wrap-page {display: flex; justify-content: center;}
#div-wrap-page a {
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 12px;
    border: 1px solid #AEAEAE;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    color: #3B73C8;
    border-radius: 3px;
}
