@charset "UTF-8";

   .modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    padding-top: 300px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); }
  
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    animation-name: animatetop;
    animation-duration: 0.4s; }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1} }
  
.close {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    height: 40px; width: 120px;    
    border-radius: 3px;
    background: #3B73C8; color: snow; }
  
.modal-header {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center; }

.modal-body {
    width: 96%;
    display: flex;
    justify-content: center;   
    align-items: center; }

.modal-body textarea {
    border: none;
    width: 650px;
    padding: 30px;
    height: 150px;
    resize: none; 
    border-radius: 3px; }

.modal-body textarea::placeholder {
    font-style: normal;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 14px;
    color: #AEAEAE; }
  
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    width: 96%; }