<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandi.ddmarket.trans.TransMapper">


	<!-- select -->
	
	<!-- 해당n번 게시글의 가격요청 누른 유저정보 -->	
	<select id="selTrans" parameterType="BoardPARAM" resultType="TransDMI">
		SELECT A.chk, B.i_user ,B.nick, B.profile_img, B.addr, B.grade FROM t_trans A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user 
		
		<!-- 나중에 마이페이지에서 t_board의 게시글 정보 까지 같이 나타내기위해 (멀리내다보는 습관을 가졌다) -->
		LEFT JOIN t_board C
		ON A.i_board = C.i_board
		
		WHERE A.i_board = #{i_board}
	</select>
	
	
	
	<!-- 구매자 1:1 댓글 뿌리기 -->
	<select id="selTransCmt" parameterType="TransCmtVO" resultType="TransCmtVO">
		SELECT B.nick, C.nick, A.transCmtChk, A.transCmt, A.r_dt FROM t_trans_cmt A

		LEFT JOIN t_user B 
		ON B.i_user = A.i_user

		LEFT JOIN t_user C 
		ON A.saleI_user = C.i_user
		
		WHERE A.i_board = #{i_board}
		AND B.i_user = #{i_user}
		AND A.saleI_user = #{saleI_user}
		ORDER BY A.r_dt ASC
	</select>
	
		
	<!-- 거래요청 / 거래취소 버튼 나누게 하기위해  -->
	<select id="chkTrans" parameterType="BoardPARAM" resultType="Integer">
		SELECT chk FROM t_trans
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}  
	</select>
	
	<!-- insert -->
	
	<!-- 구매요청 댓글 입력 / 가격요청 눌렀을시 트랜스테이블 저장 -->
	<insert id="insTrans" parameterType="TransVO">
		INSERT INTO t_trans
		(i_user, i_board, chk)
		VALUES
		(#{i_user}, #{i_board}, #{chk})
	</insert>
	
	
	
	<!-- insert  추후 returnig 값 i_trans 주기-->
	<insert id="insTransCmt" parameterType="TransCmtVO">
		INSERT INTO t_trans_cmt
		(i_board, i_user, saleI_user, transCmt, transCmtChk)
		VALUES
		(#{i_board}, #{i_user}, #{saleI_user}, #{transCmt}, #{transCmtChk})
	</insert>
	
		
	<!-- update -->
		
	<update id="updSold">
		UPDATE t_board
		SET sold = 1
		WHERE i_board = #{i_board}
	</update>
	
	
	<!-- delete -->
	<delete id="delTransUser" parameterType="TransVO">
		DELETE FROM t_trans
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</delete>
	
	
	

	

	
</mapper>