<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dandi.ddmarket.trans.TransMapper">


	<!-- select -->
	
	<!-- 해당n번 게시글의 가격요청 누른 유저정보 -->	
	<select id="selTrans" parameterType="BoardPARAM" resultType="TransDMI">
		SELECT A.i_trans, A.chk, B.i_user ,B.nick, B.profile_img, B.addr, B.grade,
		A.saleI_user
		FROM t_trans A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user 
		
		<!-- 나중에 마이페이지에서 t_board의 게시글 정보 까지 같이 나타내기위해 (멀리내다보는 습관을 가졌다) -->
		LEFT JOIN t_board C
		ON A.i_board = C.i_board
		
		WHERE A.i_board = #{i_board}
	</select>
	
	
	
	<!-- 거래요청 / 거래취소 버튼 나누게 하기위해  -->
	<select id="chkTrans" parameterType="BoardPARAM" resultType="Integer">
		SELECT chk FROM t_trans
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}  
	</select>
	
	<!-- 구매요청 눌렀을시 i_trans값 반환 -->
	<select id="intI_trans" resultType="Integer">
		SELECT i_trans FROM t_trans
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</select>	
	
	<select id="selTransCmt" parameterType="TransCmtDMI" resultType="TransCmtDMI">
		SELECT C.profile_img as 'profile_img', B.profile_img as 'buyProfile_img', A.i_user as 'buyI_user',
		A.saleI_user, B.nick as 'buyNick', C.nick , A.transCmtChk, A.transCmt, A.r_dt		
		FROM t_trans_cmt A

		LEFT JOIN t_user B 
		ON B.i_user = A.i_user

		LEFT JOIN t_user C 
		ON A.saleI_user = C.i_user
		
		WHERE A.i_trans = #{i_trans}
		
		ORDER BY A.r_dt ASC
	</select>

	
	<!-- insert -->
	
	
	<insert id="insBuyList" parameterType="BoardPARAM">
		INSERT INTO t_user_buyList
		(i_board, i_user)
		VALUES
		(#{i_board}, #{i_user})
	</insert>
	
	<!-- 채팅글입력 -->
	<insert id="insTransCmt" parameterType="TransCmtDMI">
		INSERT INTO t_trans_cmt
		(i_trans, i_user, i_board, saleI_user, transCmt)
		VALUES
		(#{i_trans}, #{i_user}, #{i_board}, #{saleI_user}, #{transCmt})
	</insert>
	
	
	<!-- 가격요청 눌렀을시 트랜스테이블 저장 -->
	<insert id="insTrans" parameterType="TransDMI">
		INSERT INTO t_trans
		(i_user, i_board, chk, saleI_user)
		VALUES
		(#{i_user}, #{i_board}, #{chk}, #{saleI_user})
	</insert>
	
	
		
	<!-- update -->		
	<update id="updSold" parameterType="BoardPARAM">
		UPDATE t_board
		SET sold = 1
		WHERE i_board = #{i_board}
	</update>
	
	
	<!-- delete -->
	<delete id="delTransUser" parameterType="TransVO">
		DELETE FROM t_trans
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</delete>
	
	
	
</mapper>