<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- 마이바티스 사용하려면 무조건 상단에 박아둬야하는  DOCTYPE-->
<mapper namespace="com.dandi.ddmarket.index.IndexMapper">
	
	<!-- main - 인기상품(1.찜 순 2.최신글 순으로 정렬) -->
	<select id="selHotBoardList" parameterType="BoardPARAM" resultType="BoardVO">
		SELECT A.i_board, A.image_1, A.title, A.price, A.r_dt as r_dt, A.addr
		FROM t_board A
		LEFT JOIN (
			SELECT i_board, COUNT(*) AS likeNum FROM t_board_like
			GROUP BY i_board
		) B
		ON A.i_board = B.i_board
		ORDER BY B.likeNum DESC, r_dt DESC;
	</select>
	
	
	<!-- main - 추천상품(1.사용자의 지역 기준 2.최신순)  -->
	<select id="selRecBoardList" parameterType="BoardPARAM" resultType="BoardVO">
		SELECT A.i_board, A.image_1, A.title, A.price, A.r_dt as r_dt, A.addr
		FROM t_board A
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		WHERE SUBSTRING_INDEX(A.addr," ",2) = (SELECT SUBSTRING_INDEX(B.addr," ",2) FROM t_user WHERE B.i_user = #{i_user})
		ORDER BY A.r_dt DESC;
	</select>
	
</mapper>